.imgLogo{
    width: 180px;
    height: auto;
    display: inline-block
}


.navItem{
    color: rgb(128, 73, 180);
}

.navItem:hover{
    color: rgb(226, 144, 178);
    font-weight: bold;
}

.botonBusqueda{
    background-color: rgb(255, 169, 183);
    border-color: rgb(255, 134, 201);
    color: white;
}

.botonBusqueda:hover{
    background-color: rgb(255, 83, 126);
    border-color: rgb(114, 12, 46);
    color: white;
}

.imgCarrusel{
    height: 80vh;
    object-fit: cover;
}

.botonCartas{
    background-color: rgb(107, 197, 219);
    border-color: rgb(59, 70, 168);
    color: white;
}

.botonCartas:hover{
    background-color: rgb(255, 83, 126);
    border-color: rgb(114, 12, 46);
    color: white;
}


.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadow:hover{
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.4);
}


.black{
    color: black;
}

.black:hover{
    color: rgb(85, 11, 155);
}

.colorFooter{
    background-color: rgb(255, 242, 248);
}

.copy{
    text-decoration: none;
    color: rgb(122, 83, 158);
}

.copy:hover{
    text-decoration-line: underline;
    color: rgb(161, 10, 81);
}


.itemCategorias{
    font-size: 1.2rem;
    font-weight: bold;
}


.aList{
    color: rgb(154, 94, 221);
}

.aList:hover{
    color: rgb(202, 10, 116);
}

.compraImage{
    width: 100px;
}

.cardContacto{
    background-color: rgb(255, 242, 248);
}

.red{
    color: red;
}



/* MEDIA QUERIES */



@media only screen and (max-width: 767px){
    .footerFlex .d-flex{display: flex;flex-direction: column;
    }
    

    .d-flex {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    
    .cardFlex{
        display: flex;
        justify-content: center;
    }

    .cardKit{
        margin-top: 10px;
    }

    .cardInt{
      margin-top: 10px;
    }

    .cardCompra{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
}


    @media only screen and (min-width: 1024px){
        .navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
        .footerFlex{display: flex;justify-content: space-around;}

        .d-flex {
            display: flex;
            flex-direction: row;
        } 

        
    }